
html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(300deg,#ff00f8,#ff0800,#0021ff);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  height: 100%;
  margin: 0;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
